#container{
    min-height: 100dvh;
    background-image: url("../../public/img/trains/train.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.error{
    font-size: 1.52rem;
    font-weight: bold;
}

.box{
    background-color: rgba(217, 217, 217, .83);
    max-height: 35vh;
    padding-bottom: 1em;
}

input{
    background-color: rgba(255, 255, 255, 0.75);
    border: black 1px solid;
    text-align: center;
}

select{
    background-color: rgba(255, 255, 255, 0.75);
    border: black 1px solid;
    text-align: center;
}

table th{
/*     border: black 1px solid; */
    text-align: center;
    font-size: 18px;
    padding: 7px 24px;
}

table td{
/*     border: black 1px solid; */
    padding: 10px 10px;
}

button{
    padding: 10px 0px;
}
